/******************************************
    File Name: custom.css
    Template Name: Engines
    Created By: PSD Convert HTML Team
    Envato Profile: http://themeforest.net/user/psdconverthtml
    Website: https://psdconverthtml.com
    Version: 1.0
    Support: support@psdconverthtml.com
/******************************************/

/** ADD YOUR CSS CODES HERE **/
.subpage {
    min-height: 500px;
    padding-top: 67px;
}

.vehicle-col{
    box-shadow:0 0 3px #888;
    min-height:150px;
    margin-bottom:25px;
}
.vehicle-col .img-responsive{
    width:100%;
}

.vehicle-col article{
    padding:7px 20px;
}
.vehicle-col article .h4{
    color:#333;
    padding-bottom:0;
    margin-bottom:0;
}
.vehicle-col article .h6{
    color:#fd6502 ;
    font-size:15px;
    padding:5px 0;
    margin:0;
}

.list-ve span{
    padding:0 20px 0 0;
    display:inline-block;
}

.link-car{
    border:1px solid #fd6502;
    padding:10px 25px;
    display:block;
    text-align:center;
    margin:15px 0;
}

.select-drop{
    height: 48px;
    border: 2px solid #f4f4f4;
    width: 100%;
    margin-bottom: 25px;
    padding: 0 15px;
}

